/* Media */
//====================================================================================================
@media (max-width: 698px) {
    .header__btn {
        float: none;
        &::before {display: none;}
        &-menu {display: block;}
    }
    .menu {
        ul {
            display: none;
        }
    }
    .header__contacts {
        text-align: center;
    }
}
//====================================================================================================
@media (max-width: 398px) {
    .header__btn {
        &::before {display: block;}
    }
}
//====================================================================================================
@media (max-width: 375px) {
    .header__email {padding-right: 30px;}
}
//====================================================================================================