/*<MEDIA>============================================================================================*/
/* Services */
@media (max-width: 1156px) {
  .services__items {
    display: block;
  }
  .services__item {
    max-width: 80%;
    min-height: 325px;
    margin: 30px auto;
  }
  /* Form */
  .form__inner {
    background: none;
  }
  /* News */
  .news {
    padding-bottom: 55px;
  }
  .news__inner {
    display: block;
  }
  .news__slider {
    max-width: 100%;
    margin-bottom: 70px;
  }
  .news__blog {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }
  .news__images {
    float: left;
    margin-right: 50px;
  }
  /* Footer */
  .footer__inner {
    display: block;
  }
  .footer__map {
    max-width: 100%;
  }
  .footer__info {
    margin-bottom: 20px;
  }
}
//====================================================================================================
/* Slider */
@media (max-width: 900px) {
  .slider {
    .slick-btn {
      display: none !important;
    }
  }
  /* Services, News */
  .services__top,
  .news__top {
    display: block;
  }
  /* Services, Form, News */
  .services__title-box,
  .form__title-box,
  .news__title-box {
    padding-left: 0;
    text-align: center;
    margin: 0 auto 30px;
    &::before {
      display: none;
    }
  }
  /* Services, News */
  .services__btn,
  .news__btn {
    text-align: center;
  }
  /* Form */
  .form {
    padding-bottom: 25px;
  }
  .form__box-inner {
    display: block;
  }
  .form__box-left,
  .form__box-right {
    max-width: 100%;
  }
  .form__box-inner .jq-selectbox__select {
    margin-bottom: 10px;
  }
  /* Advantages */
  .advantages__inner {
    display: block;
  }
  .advantages__item {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
//====================================================================================================
/* Header */
@media (max-width: 700px) {
  .header__btn {
    float: none;
    &::before {
      display: none;
    }
    &-menu {
      display: block;
    }
  }
  .menu {
    ul {
      display: none;
      position: absolute;
      z-index: 30;
      left: 0;
      right: 0;
      padding-top: 20px;
    }
    li {
      display: block;
      text-align: center;
    }
    a {
      display: block;
      background-color: #ffc222;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
    li + li {
      padding-left: 0;
    }
  }
  .header__contacts {
    text-align: center;
  }
  /* Footer */
  .footer__info .header__btn {
    &::before {
      display: block;
    }
  }
}
//====================================================================================================
/* Services */
@media (max-width: 600px) {
  .services__items {
    display: block;
  }
  .services__item {
    max-width: 100%;
    min-height: 365px;
    margin: 30px auto;
  }
}
/* News */
@media (max-width: 540px) {
  .news__slider {
    padding: 50px 15px 25px 25px;
    &::before {
      left: 25px;
    }
  }
  .news__slider-inner .slick-btn {
    bottom: -80px;
  }
  .news__slider-inner .slick-next {
    right: -20px;
  }
  .news__slider-inner .slick-disabled {
    right: 35px;
  }
  .news__images {
    float: none;
  }
}
/* Slider */
@media (max-width: 414px) {
  .slider__title {
    font-size: 24px;
  }
  .slider__text {
    font-size: 16px;
  }
}
//====================================================================================================
/* Header */
@media (max-width: 400px) {
  .header__btn {
    &::before {
      display: block;
    }
  }
}
@media (max-width: 375px) {
  .header__email {
    padding-right: 30px;
  }
  /* Services */
  .services__item-text {
    margin-bottom: 20px;
  }
}

/*</MEDIA>===========================================================================================*/
